@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

.navbar {
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Opcional: una línea sutil */
  display: flex;
  justify-content: center; /* Centra el contenido interno */
  z-index: 1000;    
}

.navbar-content {
  width: 100%;
  max-width: 1200px; /* Aquí decides qué tan "juntos" quieres que estén en PC */
  display: flex;
  justify-content: space-between; /* Empuja a los extremos DENTRO de los 1200px */
  align-items: center;
  padding: 0.5rem 2rem; /* Espacio para que en móvil no toquen el borde físico */
}


/* LOGO */
#logo-first-part {
    font-family: var(--logo-font);
    font-size: 3.5rem;
    font-weight: 400; 
    letter-spacing: -1px;
    color: #d1d1d1; 

    text-shadow: 
        0px 1px 0px rgba(255, 255, 255, 0.5),
        1px 1px 0px rgba(0, 0, 0, 0.2),
        2px 2px 4px rgba(0, 0, 0, 0.7);
}

#logo-second-part {
    font-family: var(--logo-font);
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--primary-color);

    text-shadow: 
        0px 0px 8px rgba(255, 153, 0, 0.5),
        2px 2px 3px rgba(0, 0, 0, 0.9);      
}

#logo-img {
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
    max-width: 80px; 
}



/* Partes del navbar */


.nav-left-part a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: None;
}


.nav-right-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
    gap: 1rem;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    /* IGUAL QUE EL BURGER: */
    padding: 12px;
    border-radius: 50%;
    color: var(--primary-color); /* Aseguramos que el icono herede el naranja */
    transition: background-color 0.2s ease;
}


.burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50%; 
}

.burger-btn:hover,
.cart-container:hover {
    background-color: rgba(255, 153, 0, 0.1); /* Un naranja muy tenue casi transparente */
}

.burger-btn:active,
.cart-container:active {
    transform: scale(0.95); /* El botón se "hunde" un poquito al presionarlo */
}

/*         */
/* SIDEBAR */
/*         */

.sidebar-container {
    visibility: hidden;
    transition: visibility 0.4s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    display: flex;
    justify-content: end;
}

.sidebar-container.active .sidebar-overlay {
    opacity: 1;
}

.sidebar-container.active {
    visibility: visible;
}

.sidebar-container.active .sidebar-drawer {
    transform: translateX(0%);
}

.sidebar-overlay {
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.sidebar-drawer {
    transform: translateX(100%);
    transition:transform 0.4s ease-in-out;
    width: 50%;
    height: 100%;
    background-color: #252525;
    z-index: 3000;
    padding-top: 4rem;
}

.submenu{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.submenu a{
    color: var(--primary-color);
    text-decoration: None;
    font-weight: 600;
    padding-left: 1rem;
    width: 100%;
    height: 3rem;
    background-color: #252525;
    display: flex;
    align-items: center;
    
}

.category-button {
    background-color: #252525;
    border: none;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    color: var(--primary-color);
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}


.submenu a:hover{
    filter: brightness(1.3);
}

.submenu button:hover{
    filter: brightness(1.3);
}

.return-button{
    background-color: #252525;
    border: none;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    color: var(--primary-color);
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}



/* MENU DESKTOP */




