/* Vista Desktop */
.checkout-container {
    width: 100%;

}

.checkout-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;   
}

.checkout-content h1,
.checkout-content h2 {
    margin-bottom: 1rem;
}



.direction-form-container {
    margin: 1rem 0;
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.direction-container p {
    margin-top: 2rem;
    color: var(--text-color);
    font-size: large;
    font-weight: 700;
}


.checkout-form {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.checkout-form label {
    max-width: 80px;
    width: 100%;
}

.checkout-form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    padding-right: 2.8rem;
}


.payment-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.payment-container p {
    font-size:x-large;
    font-weight: 700;
    color: var(--text-color);
}

.payment-container button {
    max-width: 300px;
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
    font-size: 1.1rem; 
    font-weight: 600;  
    border: none;    
    cursor: pointer;
}



@media (max-width:768px) {
    .app-container:has(.checkout-container) .footer-container {
        display: none !important;
    }


    .direction-container {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        padding: 1rem 1rem;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    .direction-form-container {
        box-shadow: none;
        padding: 0;
    }


    .direction-container p {
        margin-bottom: 1rem;
        font-size: large;
    }


    .checkout-form {
        display: flex;
        flex-direction: column;

    }

    .checkout-form input {
        margin-bottom: 1rem;
        width: 100%;
        padding: 0.8rem 1rem;
        border: 1px solid #ccc;
        border-radius: 0.4rem;
        font-size: 1rem;
        transition: border-color 0.3s ease;
        padding-right: 2.8rem;
    }

    .checkout-form label {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
        color: var(--text-color);
    }

    .payment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .payment-container p {
        font-size: larger;
        font-weight: 700;
    }

    .payment-container button {
        background-color: var(--primary-color);
        margin-bottom: 3rem;
        padding: 1rem 3rem;
        border-radius: 0.4rem;
        transition: all 0.3s ease;
        font-size: 1.1rem; 
        font-weight: 600;  
        border: none;    
        cursor: pointer;
    }

    .payment-container button:hover {
        filter: brightness(1.15);
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px var(--shadow);
    }

    .payment-container button:disabled {
        cursor: not-allowed;
        background-color: #bbb7b7;
    }

    .checkout-container {
        display: flex;
        flex-direction: column;
    }

    .checkout-container h1,
    .checkout-container h2 {
        padding-left: 2rem;
    }
    
}