.desktop-products {
    display: flex;
    gap: 1rem
}

.highlight-title-category {
    display: flex;
    align-items:baseline;
    gap: 1rem;
    margin-bottom: 1rem;
}


.view-categorie-btn {
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

.view-categorie-btn:hover {
    filter: brightness(1.15);
    cursor: pointer;
    transform: translateY(-2px);
}


.mobile-carrousel {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrousel-card {
    position: relative;
    display: flex;
    justify-content: center;
}

.carr-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


    
.prev {
    left: 8px;
}

.next {
    right: 8px;
}


@media (max-width: 768px) {
    .highlight-container h2 {
        text-align: center;
    }

    .carrousel-card {
        width: 100%;
        max-width: 380px; 
    }

    .carrousel-card .product-card-container {
        width: 100%;
    }

    .highlight-title-category {
        margin-left: 4rem;
}
}