.login-btn {
    width: 100%;
    margin-top: 2rem;
    display: block;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
    font-size: 1.1rem; 
    font-weight: 600;  
    border: none;    
    cursor: pointer;    
}


.login-btn:enabled:hover {
    filter: brightness(1.15);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px var(--shadow);;
}

.login-btn:disabled {
    cursor: not-allowed;
    background-color: #bbb7b7;
}