.pass-change-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--bg-color);
}

.change-pass {
    padding-bottom: 1rem;
}

#change-pass-btn {
    margin-top: 4rem;
}

#change-pass-title {
    padding-bottom: 2rem;
}