
.product-detail-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    max-height: 100%;
    align-self: center;
    
}

.detail-content {
    max-width: 1200px;
    display: flex;
}

.detail-left-part {
    flex: 1;
}

.detail-right-part {
    flex: 1;
}

.detail-image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
}

.product-info {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    gap: 2rem;
    padding: 0 1rem;
}

.price-stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-buttons {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;

}

.detail-button {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.8rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
    font-size: 1.1rem; 
    font-weight: 600;  
    border: none;    
    cursor: pointer;
}

.detail-button:hover {
    filter: brightness(1.15);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px var(--shadow);
}

.quantity-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.quantity-section p {
    color: var(--text-color);
    font-weight: 300;
}

.quantity-button {
    display: flex;
    border: none;
    background-color: transparent;
}

.quantity-icon {
    height: 30px;
    width: 30px;
    fill: var(--primary-color);
    
}

.detail-button:disabled {
    background-color: darkgrey;
}

.detail-button:hover:disabled {
    transform: none;
    filter: none;
    cursor:not-allowed;
}

.detail-errors {
    max-width: 80%;
    color: var(--error-color)
}

/* --- Estilos para Móvil --- */
@media (max-width: 768px) {
    .product-detail-container {
        max-width: 100%;
    }

    .detail-content {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        gap: 2rem;
        
    }

    .detail-left-part {
        display: flex;
        
    }


}