
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 1rem;

}

.auth-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--white);
    padding: 2rem;
    width: 100%;
    max-width: 28rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 25px var(--shadow);
}

.auth-card h1{
    text-align: center;
}

.form-group {
    display:flex;
    flex-direction: column;

}

.form-group label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: var(--text-color);
}

.form-group input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    padding-right: 2.8rem;
}

.form-group input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.password-field-wrapper {
    position: relative;
    display: flex;
    align-items: center;

}

.toggle-password-btn {
    position:absolute;
    right: 1rem;
    background: transparent;
    border: None;
    cursor: pointer;
    display: flex;
    color: #777;
    padding: 0;
}


.error-message {
    min-height: 1.5rem;
    font-size: 0.75rem;
    color: var(--error-color);
    margin-bottom: 0.2rem;
}

.error-message ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.submit-btn {
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
    font-size: 1.1rem; 
    font-weight: 600;  
    border: none;    
    cursor: pointer;    
}


.submit-btn:enabled:hover {
    filter: brightness(1.15);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px var(--shadow);;
}

.submit-btn:disabled {
    cursor: not-allowed;
    background-color: #bbb7b7;
}


.auth-links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
    border-top: 1px solid #0000006e; 
    padding-top: 1.5rem;
    font-size: 0.9rem;
}

.success-card {
    margin-bottom: 1rem;
}

.auth-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.auth-links a:hover {
    text-decoration: underline;
}

.success-card ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.success-card li {
    color: #555;
    line-height: 1.4;
}